@use "../../styles/" as *;

.contact-banner {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-grayish-blue;
    padding-top: 60px;
}

.contact-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.map-container {
    height: 100%;
    width: 80%;
    max-width: 1140px;
    background-color: $light-grayish-blue;
}

@media only screen and (max-width: 1440px) {
    .contact-banner {
        height: 300px;
    }

    .map-container {
        width: 85%;
        max-width: 1050px;
    }
}

@media only screen and (max-width: 940px) {
    .contact-banner {
        height: 225px;
    }
}

@media only screen and (max-width: 600px) {

    .contact-banner {
        height: 150px;
    }

    .map-container {
        width: 100%;
    }
}