<div class="contact-info">  
    <div class="contact-info-bulletin" [appIntersectionTrigger]="'slide-in'">
        <div class="bulletin-logo__container">
            <img class="bulletin-logo" src="../../../assets/icons/phone.png">
        </div>
        <div class="bulletin-text__container">
            <h4>Telefon</h4>
            <h5>098 733 721</h5>
        </div>
    </div>
    <div class="contact-info-bulletin" [appIntersectionTrigger]="'slide-in'">
        <div class="bulletin-logo__container">
            <img class="bulletin-logo" src="../../../assets/icons/pin.png">
        </div>
        <div class="bulletin-text__container">
            <h4>Adresa</h4>
            <h5>Ul. kralja Zvonimira 24, 10000 Zagreb</h5>
        </div>
    </div>
    <div class="contact-info-bulletin" [appIntersectionTrigger]="'slide-in'">
        <div class="bulletin-logo__container">
            <img class="bulletin-logo" src="../../../assets/icons/mail.png">
        </div>
        <div class="bulletin-text__container">
            <h4>Mail</h4>
            <h5>Fastcell&#64;cellphone-repair.com</h5>
        </div>
    </div>
</div>  
       
  