@use '../../../styles/' as *;

.contact-info {
    max-width: 1440px;
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 40px;
}

.contact-info-bulletin {
    @include flexCenter();
    width: fit-content;
    height: fit-content;
    text-align: start;
    opacity: 0;
    transform: translateX(-60%);
    filter: blur(5px);
    transition: 1s all;
    column-gap: 24px;

    &.slide-in {
        opacity: 1;
        transform: translateX(0%);
        filter: blur(0px);
    }
}

.bulletin-logo__container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $base-gradient;
    @include flexCenter();
}

.bulletin-logo {
    width: 80%;
    height: 80%;
    object-fit: contain;
}
    

.bulletin-text__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    h4 {
        margin: 0;
        line-height: 2rem;
    }

    a {
        text-decoration: none;
    }

    p {
        color: $grayish-blue;
        line-height: 2rem;
        margin: 0;
        transition: 0.3s ease-in-out;

        &:hover {
            color: $lime-green;
        }
    }
}

@media only screen and (max-width:1024px) {
    .bulletin-text__container {
        max-width: 250px;
    }
}

@media only screen and (max-width: 760px) {
    .contact-info {
        margin-top: 40px;
        height: 275px;
        row-gap: 10px;
    }

    .bulletin-logo__container {
        width: 44px;
        height: 44px;
    }

    .bulletin-text__container {
        h4 {
            line-height: 1.4rem;
        }
    
        p {
            line-height: 1.2rem;
        }
    }
}

@media only screen and (max-width: 440px) {
    .bulletin-text__container {
        max-width: 200px;
    }
}



    