<div class="footer-container">
    <footer>
        <div itemscope itemtype="http://schema.org/LocalBusiness" class="social-container">
            <div class="logo-container" (click)="goToPage('')">
                <img class="logo-image" src="/assets/images/CellLogoBlue.webp" alt="Mobitronic Service Company Logo">
                <h3 itemprop="name">Mobitronic service d.o.o.</h3>
            </div>
            <div class="info-div">
                <p><span>Radno vrijeme:</span> Pon - Pet: 08:00 - 18:00</p>
                <p>Sub: 09:00 - 14:00</p>
            </div>
        </div>
        <div class="nav-container">
            <ul class="info-list">
                <li itemprop="telephone">
                    <img class="info-image" src="/assets/icons/telephone-blue.png" alt="Phone icon">
                    <p>098 733 721</p>
                </li>
                <li itemprop="adress">
                    <img class="info-image" src="/assets/icons/home-blue.png" alt="Location icon">
                    <p>Ul. kralja Zvonimira 24, 10000 Zagreb</p>
                </li>
                <li itemprop="email">
                    <img class="info-image" src="/assets/icons/mail-blue.png" alt="Email icon">
                    <a href="mailto:mobitronic.service@gmail.com"><p>mobitronic.service&#64;gmail.com</p></a>
                </li>
            </ul>
        </div>
        <div class="nav-container">
            <ul class="nav-links">
                <li>
                    <a [routerLink]="['']" aria-label="Početna - Home" [ngClass]="toggleActiveOnRoute('')"><p>Početna</p></a>
                </li>
                <li>
                    <a [routerLink]="['/about']" aria-label="O nama - About Us" [ngClass]="toggleActiveOnRoute('about')"><p>O nama</p></a>
                </li>
                <li>
                    <a [routerLink]="['/contact']" aria-label="Kontakt - Contact" [ngClass]="toggleActiveOnRoute('contact')"><p>Kontakt</p></a>
                </li>
            </ul>
        </div>
    </footer>
</div>
