<div class="footer-container">
    <footer>
        <div class="social-container">
            <div class="logo-container" (click)="goToPage('')">
                <img class="logo-image" src="../../../assets/images/CellLogoBlue.png">
                <h3>fastcell</h3>
            </div>
            <ul class="social-links">
                <li>
                    <img class="social-link-image" src="../../../assets/icons/icon-facebook.svg">
                    <img class="social-link-image__active" src="../../../assets/icons/icon-facebook-green.svg">
                </li>
                <li>
                    <img class="social-link-image" src="../../../assets/icons/icon-youtube.svg">
                    <img class="social-link-image__active" src="../../../assets/icons/icon-youtube-green.svg">
                </li>
                <li>
                    <img class="social-link-image" src="../../../assets/icons/icon-twitter.svg">
                    <img class="social-link-image__active" src="../../../assets/icons/icon-twitter-green.svg">
                </li>
                <li>
                    <img class="social-link-image" src="../../../assets/icons/icon-pinterest.svg">
                    <img class="social-link-image__active" src="../../../assets/icons/icon-pinterest-green.svg">
                </li>
                <li>
                    <img class="social-link-image" src="../../../assets/icons/icon-instagram.svg">
                    <img class="social-link-image__active" src="../../../assets/icons/icon-instagram-green.svg">
                </li>
            </ul>
        </div>
        <div class="nav-container">
            <ul class="nav-links">
                <li (click)="goToPage('about')"><p>O nama</p></li>
                <li><p>Kontakt</p></li>
                <li><p>Cijene</p></li>
            </ul>
        </div>
        <div class="nav-container">
            <ul class="nav-links">
                <li><p>Karijere</p></li>
                <li><p>Podrška</p></li>
                <li><p>Polica privatnosti</p></li>
            </ul>
        </div>
        <div class="business-container">
            <p>&#64;fastcell-Ivan_Pavić2024. All rights reserved</p>
        </div>
    </footer>
</div>
