<div class="navbar-container">
    <nav class="navbar" aria-label="Main Navigation">
        <div class="nav-logo__container" (click)="goToPage('')" role="button" aria-label="Go to home page">
            <img class="logo-image" src="/assets/images/CellLogo.webp" alt="Mobitronic Service Logo">
            <h2>Mobitronic service</h2>
        </div>
        <ul class="navbar-links" role="menu">
            <li role="menuitem">
                <a [routerLink]="['/about']" aria-label="About Us" [ngClass]="toggleActiveOnRoute('about')"><h4>O nama</h4></a>
            </li>
            <li role="menuitem">
                <a [routerLink]="['/contact']" aria-label="Contact" [ngClass]="toggleActiveOnRoute('contact')"><h4>Kontakt</h4></a>
            </li>
        </ul>
        <div (click)="toggleSidebar()" class="hamburger-menu" [attr.aria-expanded]=menuIsOpen aria-label="Toggle menu">
            <div>
                <span class="line-1" [ngClass]="menuIsOpen ? 'open' : ''"></span>
                <span class="line-2" [ngClass]="menuIsOpen ? 'open' : ''"></span>
                <span class="line-3" [ngClass]="menuIsOpen ? 'open' : ''"></span>
            </div>
        </div>
    </nav>
    <app-nav-sidebar></app-nav-sidebar>
</div>
