<div class="business-info__container">
    <div class="business-info">
        <h2>Poslovne informacije</h2>
        <div class="info-text">
            <div>
                <p><span>MOBITRONIC SERVICE d.o.o.</span><br>ul. kralja Zvonimira 24 <br> 10000 Zagreb</p>
                <p>Društvo je upisano u sudski registar <br>Trgovačkog suda u Zagrebu.</p>
                <p><span>Temeljni kapital: </span>2664 EUR</p>
            </div>
            <div>
                <p><span>OIB: </span>123456789</p>
                <p><span>MBO: </span>123456789</p>
                <p><span>Uprava društva: </span>Pero Peric</p>
                <p><span>e-mail: </span>mobitronic.service&#64;gmail.com</p>
                <p><span>tel: </span>098 733 721</p>
            </div>
        </div>
    </div>
</div>