<div class="business-info__container">
    <div class="business-info">
        <h2>Poslovne informacije</h2>
        <div class="info-text">
            <div>
                <p><span>MOBITRONIC SERVICE d.o.o. za usluge</span><br>Gorica Jamnička 53 <br> 10451 Gorica Jamnička</p>
                <p>Društvo je upisano u sudski registar <br>Trgovačkog suda u Zagrebu.</p>
            </div>
            <div>
                <p><span>Uprava društva: </span>Siniša Miklavčić, Damir Valentić</p>
                <p><span>OIB: </span>67685639087</p>
                <p><span>MBO: </span>05916682</p>
                <p><span>e-mail: </span>mobitronic.service&#64;gmail.com</p>
                <p><span>tel: </span>098 733 721</p>
            </div>
        </div>
    </div>
</div>