@use '../../../styles/' as *;

.contact-info__container {
    width: 100%;
    min-height: 55vh;
    background-color: $light-grayish-blue;
    @include flexCenter();
    flex-direction: column;
    overflow: hidden;
    padding: 32px 32px;
    box-sizing: border-box;

    h2 {
        margin-top: 0;
        margin-bottom: 60px;
    }
}

.contact-layout__container {
    @include flexCenter-Y();
    width: 100%;
    max-width: 1440px;
    justify-content: space-around;
}

@media only screen and (max-width: 760px) {
    .contact-info__container {    
        h2 {
            margin-bottom: 40px;
        }
    }

    .contact-layout__container {
        flex-direction: column-reverse;
    }
}



    