@use '../../styles/' as *;

.contact-info__container {
    width: 100%;
    min-height: 55vh;
    background-color: $light-grayish-blue;
    @include flexCenter();
    flex-direction: column;
    overflow: hidden;
    padding: 32px 32px;
    box-sizing: border-box;

    h2 {
        margin-top: 0;
        margin-bottom: 60px;
    }
}

.contact-layout__container {
    @include flexCenter-Y();
    width: 100%;
    max-width: 1440px;
    justify-content: space-around;
}

.contact-info {
    max-width: 1440px;
    height: 500px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-info-bulletin {
    @include flexCenter();
    width: fit-content;
    height: fit-content;
    text-align: start;
    opacity: 0;
    transform: translateX(-60%);
    filter: blur(5px);
    transition: 1s all;
    column-gap: 24px;

    &.slide-in {
        opacity: 1;
        transform: translateX(0%);
        filter: blur(0px);
    }
}

.bulletin-logo__container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $base-gradient;
    @include flexCenter();
}

.bulletin-logo {
    width: 80%;
    height: 80%;
    object-fit: contain;
}
    

.bulletin-text__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    h4 {
        margin: 0;
        line-height: 2rem;
    }

    h5 {
        color: $grayish-blue;
        line-height: 2rem;
        margin: 0;
    }
}

@media only screen and (max-width:1024px) {
    .bulletin-text__container {
        max-width: 250px;
    }
}

@media only screen and (max-width: 760px) {
    .contact-info__container {    
        h2 {
            margin-bottom: 40px;
        }
    }

    .contact-layout__container {
        flex-direction: column-reverse;
    }
    .contact-info {
        margin-top: 40px;
        height: 300px;
    }

    .bulletin-logo__container {
        width: 44px;
        height: 44px;
    }
}

@media only screen and (max-width: 440px) {
    .bulletin-text__container {
        max-width: 200px;
    }
}



    