<div class="info-tab__container">
    <div class="info-tab">
        <ul class="tab-info__list">
            <li>
                <a href="https://www.google.com/maps/place/Servis+mobitela+Mobitronic+service+d.o.o./@45.8101216,15.9925604,17z/data=!4m14!1m7!3m6!1s0x4765d7083b0f3561:0x280a59daed90d7c8!2sServis+mobitela+Mobitronic+service+d.o.o.!8m2!3d45.8101216!4d15.9925604!16s%2Fg%2F11y5ghm_gf!3m5!1s0x4765d7083b0f3561:0x280a59daed90d7c8!8m2!3d45.8101216!4d15.9925604!16s%2Fg%2F11y5ghm_gf?entry=ttu&g_ep=EgoyMDI0MDgyMS4wIKXMDSoASAFQAw%3D%3D"
                    target="_blank"
                    itemprop="adress"
                    aria-label="View our location on Google Maps">
                    <img class="tab-info-image" src="/assets/icons/home-blue.png" alt="Location icon">
                    <p>Ul. kralja Zvonimira 24, 10000 Zagreb</p>
                </a>
            </li>
            <li >
                <a href="tel:38598733721" itemprop="telephone" aria-label="Call us at 098 733 721">
                    <img class="tab-info-image" src="/assets/icons/telephone-blue.png" alt="Phone icon">
                    <p>098 733 721</p>
                </a>
            </li>
            <li>
                <a href="mailto:mobitronic.service@gmail.com" itemprop="email" aria-label="Email us at mobitronic.service@gmail.com">
                    <img class="tab-info-image" src="/assets/icons/mail-blue.png" alt="Email icon">
                    <p>mobitronic.service&#64;gmail.com</p>
                </a>
            </li>
        </ul>
    </div>
</div>
