<div class="home-about-bulletin-skeleton">
    <div class="bulletin-logo-skeleton"></div>
    <div class="bulletin-text-skeleton"></div>
</div>
<div class="home-about-bulletin-skeleton">
    <div class="bulletin-logo-skeleton"></div>
    <div class="bulletin-text-skeleton"></div>
</div>
<div class="home-about-bulletin-skeleton">
    <div class="bulletin-logo-skeleton"></div>
    <div class="bulletin-text-skeleton"></div>
</div>
<div class="home-about-bulletin-skeleton">
    <div class="bulletin-logo-skeleton"></div>
    <div class="bulletin-text-skeleton"></div>
</div>

