<div class="hero-banner__container">
    <div class="hero-banner">
        <div class="hero-text__container">
            <h1>Brzi servisi mobitela i računala</h1>
            <h4>Tražite brzu, pouzdanu i povoljnu uslugu servisa vašeg mobitela ili računala? Na pravom ste mjestu!<br> Većina popravaka obavlja se isti dan, tako da nećete dugo ostati bez svog uređaja.</h4>
        </div>
        <div class="hero-image__container">
            <img class="hero-phone-image" ngSrc="/assets/images/iphone-samsung-repair.webp" alt="smartphone-repair" fill priority>
        </div>
        <img class="hero-banner-image" ngSrc="/assets/images/hero-splat.svg" alt="splat" width="1271" height="1034" priority>
        <img class="hero-banner-image__mobile" src="/assets/icons/bg-intro-mobile.svg" alt="splat">
    </div>
</div>
