<div class="about-us__container">
    <div class="about-us">
        <h2 class="about-header">O Nama</h2>
        <h4>Dobrodošli u MobiTronic, vaš pouzdani partner za usluge popravka
             mobilnih telefona. Mi smo tim profesionalaca posvećenih pružanju brzih, 
             pouzdanih i pristupačnih rješenja za sve vaše potrebe u vezi s mobilnim uređajima.
        </h4>
        <div class="about-section-container">
            <div class="about-section-text" [appIntersectionTrigger]="'slide-in'">
                <h3>Naša Priča</h3>
                <h4>
                    Osnovan 2015. godine, Mobitronic service je započeo s jednostavnom misijom: pružiti visokokvalitetne
                    usluge popravka s pristupom usmjerenim na korisnika. Ono što je počelo kao mala radionica, 
                    preraslo je pružatelja usluga poznatog po našoj stručnosti, brzom vremenu obrade
                    i izvanrednoj korisničkoj službi.
                </h4>
                <h3>Naša Obveza</h3>
                <h4>
                    U Mobitronic servisu, predani smo pružanju izvanredne usluge i podrške. Stojimo iza našeg rada s garancijom
                    na sve popravke, osiguravajući mir našim korisnicima.
                </h4>
                <h4>
                    Hvala što ste odabrali Mobitronic service. Radujemo se što ćemo vam služiti i održavati vaše mobilne uređaje
                    u savršenom stanju.
                </h4>
                <h4>
                    Slobodno nas kontaktirajte ili posjetite našu trgovinu za sve vaše potrebe u vezi popravka mobilnih telefona.
                </h4>
            </div>
            <div class="about-section-image__container">
                <img class="about-section-image" src="/assets/images/mobitronic-lokacija.jpg" alt="Mobitronic lokacija">
            </div>
        </div>
        <h3 class="about-footer-text">
            <span>Mobitronic service</span> – Brzo, Pouzdano, Pristupačno.
        </h3>
    </div>
</div>
