<div class="about-us__container">
    <div class="about-us">
        <h2 class="about-header">O Nama</h2>
        <p>Mobitronic Service d.o.o. je novoosnovana tvrtka koja okuplja stručnjake s preko 20 godina
            iskustva u servisiranju mobilnih uređaja. Iako smo nova tvrtka, naši zaposlenici imaju iza sebe više
            od dva desetljeća rada u struci, čime garantiramo vrhunsku kvalitetu usluga i predanost svakom
            projektu.
        </p>
        <div class="about-section-container">
            <div class="about-section-text" [appIntersectionTrigger]="'slide-in'">
                <h3>Strast i iskustvo:</h3>
                <p>
                    Naši zaposlenici su entuzijasti mobilne tehnologije i elektronike. Volimo izazove
                    i specijalizirani smo za rješavanje problema koje drugi servisi ne mogu riješiti.
                </p>
                <h3>Brzi servis:</h3>
                <p>
                    Nudimo brzi servis koji može ukloniti kvarove u roku od sat vremena. Razumijemo
                    koliko vam je vaš uređaj važan, stoga se trudimo skratiti vrijeme popravka na minimum.
                </p>
                <h3>Širok asortiman usluga:</h3>
                <p>
                    Osim servisa, pružamo tehničku podršku za sve vrste mobitela i računala,
                    s originalnim i zamjenskim dijelovima, otključavanje uređaja, kao i kompletnom ponudom
                    dodatne opreme.
                </p>
                
            </div>
            <div class="about-section-image__container">
                <img class="about-section-image" src="/assets/images/mobitronic-lokacija.jpg" alt="Mobitronic lokacija">
            </div>
        </div>
        <div class="bottom-section__container">
            <h3>Naša filozofija:</h3>
            <p>
                Naš poslovni uspjeh počiva na postizanju zadovoljstva klijenata pružanjem vrhunske kvalitete usluga, bilo
                da se radi o privatnim ili pravnim klijentima. Kada Vam netko kaže da nešto nije moguće, mi smo tu da
                vam pomognemo.
            </p>
            <p>
                Ako ste zainteresirani za suradnju ili imate pitanja, slobodno nam se obratite. Vi ste najvažniji dio našeg
                poslovanja, i s ponosom ćemo vam pomoći u svemu što vam treba.
            </p>
        </div>
        <h3 class="about-footer-text">
            <span>Mobitronic service</span> – Brzo, Pouzdano, Pristupačno.
        </h3>
    </div>
</div>
