<div class="home-shop-skeleton__container">
    <div class="home-shop-skeleton-image__container">
        <div class="img-skeleton">
            
        </div>
    </div>
    <div class="skeleton-text__container">
        <div class="text-skeleton title"></div>
        <ul>
            <li *ngFor="let e of [].constructor(8); let i = index"><div class="text-skeleton"></div></li>
        </ul>
    </div>
</div>
<div class="home-shop-skeleton__container inverted">
    <div class="home-shop-skeleton-image__container">
        <div class="img-skeleton">
            
        </div>
    </div>
    <div class="skeleton-text__container">
        <div class="text-skeleton title"></div>
        <ul>
            <li *ngFor="let e of [].constructor(8); let i = index"><div class="text-skeleton"></div></li>
        </ul>
    </div>
</div>


