@use "../../styles/" as *;

.hero-shop__container {
    width: 100%;
    min-height: 80vh;
    background-color: $light-grayish-blue;
    @include flexCenter();
    padding: 0px 32px;
    box-sizing: border-box;
    overflow: hidden;
}

.hero-shop {
    width: 1440px;
    @include flexCenter();
    flex-direction: column;
    margin-bottom: 60px;

    h2 {
        margin-bottom: 70px
    }
}

.shop-info__container {
    width: 100%;
    @include flexCenter-Y();
    justify-content: space-between;
}

.shop-image__container {
    width: 30%;
    height: 450px;
}

.shop-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-shop-text__container {
    max-width: 800px;

    h4 {
        font-weight: 600;
    }

    ul {
        list-style-type: none;
        opacity: 0;
        filter: blur(5px);
        transition: 1s all;

        li {
            margin-bottom: 8px;
            line-height: 1.6rem;

            h5 {
                margin: 0;
            }
            
            h4 {
                margin: 12px 0px;
            }
        }

        &.translate-right {
            transform: translateX(40%);
        }

        &.translate-left {
            transform: translateX(-40%);
        }

        &.slide-in {
            filter: blur(0px);
            transform: translateX(0);
            opacity: 1;
        }
    }
}

:nth-child(3) {
    flex-direction: row-reverse;
}

.hero-shop-button__container {
    width: 100%;
    @include flexCenter();
    margin-top: 40px;
}

.hero-shop-button {
    padding: 8px 16px;
    border-radius: 16px;
    background: $base-gradient;

    h4 {
        color: snow;
        margin: 0;
    }

    &:hover {
        cursor: pointer;
        background: $active-gradient;
        transition: 1s ease-in-out;
    }
}



@media only screen and (max-width: 760px) {
    
    .hero-shop {
        width: 1440px;
        @include flexCenter();
        flex-direction: column;
        margin-bottom: 60px;

        h2 {
            margin-bottom: 48px
        }

        :nth-child(3) {
            flex-direction: column-reverse;
        }
    }

    .shop-info__container {
        flex-direction: column;
    }

    .shop-image__container {
        width: 100%;
        height: 150px;
    }
    
    .hero-shop-button__container {
        margin-top: 24px;
    }
} 