<div class="hero-shop__container">
    <div class="hero-shop">
        <h2>Prodaja i otkup uređaja</h2>
        @defer(on viewport) {
            <div class="shop-info__container">
                <div class="shop-image__container">
                    <img class="shop-image" ngSrc="/assets/images/phones2.webp" alt="Prodaja mobilnih uređaja - širok izbor kvalitetnih uređaja" fill>
                </div>
                <div class="hero-shop-text__container">
                    <h3>Zašto kupiti rabljeni uređaj kod nas</h3>
                    <ul class="translate-right" [appIntersectionTrigger] = "'slide-in'">
                        <li><h4>Kvaliteta i pouzdanost</h4></li>
                        <li><p>Svi uređaji su testirani od strane naših stručnih tehničara.</p></li>
                        <li><h4>Jamstvo</h4></li>
                        <li><p>Na sve rabljene uređaje dajemo jamstvo kako biste imali dodatnu sigurnost.</p></li>
                        <li><h4>Povoljna cijena</h4></li>
                        <li><p>Uštedite novac kupnjom rabljenog uređaja bez kompromisa na kvaliteti.</p></li>
                        <li><h4>Širok izbor</h4></li>
                        <li><p>Nudimo razne modele različitih brendova kako bismo zadovoljili sve vaše potrebe.</p></li>
                    </ul>
                </div>
            </div>
            <div class="shop-info__container">
                <div class="shop-image__container">
                    <img class="shop-image" ngSrc="/assets/images/modern-phones.png" alt="Otkup mobilnih uređaja - brza procjena i isplata" fill>
                </div>
                <div class="hero-shop-text__container">
                    <h3>Zašto prodati uređaj kod nas</h3>
                    <ul class="translate-left" [appIntersectionTrigger] = "'slide-in'">
                        <li><h4>Brza procjena</h4></li>
                        <li><p>Dobijte brzu i točnu procjenu vrijednosti vašeg uređaja.</p></li>
                        <li><h4>Isplata odmah</h4></li>
                        <li><p>Nakon procjene i prihvaćanja ponude, isplatu vršimo odmah.</p></li>
                        <li><h4>Ekološki prihvatljivo</h4></li>
                        <li><p>Pomozite smanjiti elektronički otpad recikliranjem vašeg starog uređaja.</p></li>
                    </ul>
                </div>
            </div>
        } @placeholder(minimum 500ms) {
            <app-home-shop-skeleton></app-home-shop-skeleton>
        }
    </div>
</div>
