<div class="hero-services__container">
    <section class="hero-services" aria-labelledby="hero-services-heading">
        <h2 id="hero-services-heading">Naše Usluge</h2>
        @defer(on viewport) {
            <div class="services__container">
                <article class="service__container">
                    <div class="service-image__container">
                        <img class="service-image" ngSrc="/assets/images/istockphoto-glass repair.jpg" alt="Screen repair service" fill>
                    </div>
                    <div class="service-text__container">
                        <h4>Zamjena stakla i ekrana</h4>
                        <p>Zamjena napuknutog stakla i novog original ili zamjenskog ekrana.</p>
                    </div>
                </article>
                <article class="service__container">
                    <div class="service-image__container">
                        <img class="service-image" ngSrc="/assets/images/damaged-cell-phone-data-recovery-768x511.jpg" alt="Data recovery service" fill>
                    </div>
                    <div class="service-text__container">
                        <h4>Spašavanje i kopiranje podataka na novi uređaj</h4>
                        <p>Spašavamo podatke sa neispravnih uređaja i kopiramo na novi uređaj ili USB stick.</p>
                    </div>
                </article>
                <article class="service__container">
                    <div class="service-image__container">
                        <img class="service-image" ngSrc="/assets/images/designer.jpeg" alt="Laptop repair service" fill>
                    </div>
                    <div class="service-text__container">
                        <h4>Popravak laptopa</h4>
                        <p>Zamjena ekrana, utora za punjenje, ugradnja diskova i instalacija windowsa.</p>
                    </div>
                </article>
            </div>
            <div class="services__container--bottom">
                <article class="service__container">
                    <div class="service-image__container">
                        <img class="service-image" ngSrc="/assets/images/speaker-repair-BG.jpg" alt="Speaker replacement service" fill>
                    </div>
                    <div class="service-text__container">
                        <h4>Zamjena mikrofona i zvučnika</h4>
                        <p>Profesionalna zamjena mikrofona i zvučnika za čist zvuk vaših uređaja.</p>
                    </div>
                </article>
                <article class="service__container">
                    <div class="service-image__container">
                        <img class="service-image" ngSrc="/assets/images/battery-replacement.jpg" alt="Battery replacement service" fill>
                    </div>
                    <div class="service-text__container">
                        <h4>Zamjena baterije</h4>
                        <p>Koristimo originalne ili visokokvalitetne zamjenske baterije koje osiguravaju dugotrajan rad vašeg uređaja.</p>
                    </div>
                </article>
            </div>
        } @placeholder(minimum 500ms) {
            <app-home-services-skeleton></app-home-services-skeleton>
        }
    </section>
</div>
