<div class="hero-services__container">
    <div class="hero-services">
        <h2>Usluge</h2>
        <div class="services__container">
            <div class="service__container">
                <div class="service-image__container">
                    <img class="service-image" src="/assets/images/istockphoto-glass repair.jpg" alt="glass-repair">
                </div>
                <div class="service-text__container">
                    <h4>Zamjena stakla i ekrana</h4>
                    <h5>Zamjena napuklog stakla kaljenim staklom otpornim na mrlje i udarce.</h5>
                </div>
            </div>
            <div class="service__container">
                <div class="service-image__container">
                    <img class="service-image" src="/assets/images/damaged-cell-phone-data-recovery-768x511.jpg" alt="data-recovery">
                </div>
                <div class="service-text__container">
                    <h4>Spašavanje podataka</h4>
                    <h5>Servis spašavanja podataka uključuje skidanje podataka sa unutarnje memorije kao i sa memorijske kartice.</h5>
                </div>
            </div>
            <div class="service__container">
                <div class="service-image__container">
                    <img class="service-image" src="/assets/images/gettyimages-camera-replacement.jpg" alt="camera-replacement">
                </div>
                <div class="service-text__container">
                    <h4>Zamjena kamere</h4>
                    <h5>Zamjene prednje i stražnje kamere kao i popravci i zamjene blica.</h5>
                </div>
            </div>
        </div>
        <div class="services__container--bottom">
            <div class="service__container">
                <div class="service-image__container">
                    <img class="service-image" src="/assets/images/speaker-repair-BG.jpg" alt="speaker-replacement">
                </div>
                <div class="service-text__container">
                    <h4>Zamjena mikrofona i zvučnika</h4>
                    <h5>Zamjene i popravci neispravnih mikrofona i slušalica.</h5>
                </div>
            </div>
            <div class="service__container">
                <div class="service-image__container">
                    <img class="service-image" src="/assets/images/battery-replacement.jpg" alt="battery-replacement">
                </div>
                <div class="service-text__container">
                    <h4>Zamjena baterije</h4>
                    <h5>Zamjena baterije pri isteku roka valjanosti smanjuje šansu pregrijavanja i povečava aktivno radno vrijeme mobitela.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
