/* You can add global styles to this file, and also import other style files */
@use './app/styles' as *;

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

h1,h2{
    @extend .public-sans-heavy;
}

h4, h5 {
    @extend .public-sans-light;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
    @extend .public-sans;
}

h4 {
    font-size :24px;
}

h5, label {
    font-size: 20px;
}

.logo-image {
    height: 48px;
    margin-right: 12px;
}

p {
    font-size: 18px;
    @extend .public-sans;
}

li {
    @extend .public-sans-light;
}

label, textarea, input {
    @extend .public-sans;
}

@media only screen and (max-width: 1440px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 32px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    h4 {
        font-size :20px;
    }
    
    h5, label {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 940px) {
    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    h4 {
        font-size :18px;
    }
    
    h5, label {
        font-size: 16px;
    }
}

@media only screen and (max-width: 760px) {
    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    h4 {
        font-size :16px;
    }
    
    h5, label {
        font-size: 14px;
    }
    
    p {
        font-size: 12px;
    }
}