@use "../../styles/" as *;

.web-info__container {
    @include flexCenter();
    background-color: black;
    height: fit-content;
    padding: 8px 0px;
    box-sizing: border-box
}

.web-info-tab {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 1440px;
    column-gap: 40px;
    height: fit-content;
    padding-right: 40px;

    p {
        margin: 0;
        color: $grayish-blue;
        font-size: 12px
    }
}

.web-info {
    @include flexCenter();
    column-gap: 8px;
}

.county-image {
    height: 28px;
    width: 28px;
}

@media only screen and (max-width:760px) {
    .web-info-tab {
        justify-content: center;
        column-gap: 20px;
        padding-right: 0;
    }
}