@use "../../../styles/" as *;

.popup {
    position: fixed;
    top: 10%;
    right: 0px;
    transform: translate(50%, 10%);
    width: fit-content;
    border-radius: 8px;
    color: $white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: right 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
    box-sizing: border-box;
    padding: 12px;
    text-align: center;
}

.close-popup {
    color: white;
    font-size: 600;
    position: absolute;
    top: 4px;
    right: 8px;
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover {
        color: red;
    }
}
  
.popup.show {
    right: 50%;
    opacity: 1;
}

.popup-content {
    padding: 20px;
}

.popup-text {
    margin: 0;
    line-height: 1.2rem;
}

@media only screen and (max-width: 760px ) {
    .popup-content {
        padding: 8px;
    }
}

@media only screen and (max-width: 480px) {
    .popup-text {
        width: 175px;
    }
}